<p style="color: green"><%= notice %></p>
<% content_for :title, "Pins" %>

<h1>Pins</h1>
<%= react_component("HelloWorld", props: @some_props, prerender: true) %>



<div id="pins">
  <% @pins.each do |pin| %>
    <%= render pin %>
    <p>
      <%= link_to "Show this pin", pin %>
    </p>
  <% end %>
</div>

<%= link_to "New pin", new_pin_path %>
